
h1{
background-color: black;
text-align: center;
font-size: 50px;
}
body{
background-color: black;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
h1:hover{
background-color: #ffffffef;
}